<html>
	<title>Hello Ansible</title>

	<body>
	        <h1>{{ ansible_distribution }}</h1>
		<h1>{{ ansible_host }}</h1>
		<h1>Provisioner tool is <b>{{ provisioner_tool }}</b>.</h1>
		<h3>Automation tool is {{ automation_tool }}.</h3>

	</body>
</html>
