<html>
	<title>{{ greeting_msg }}</title>

	<body>
		<h1>This is a {{ ansible_distribution }} machine provisioned by {{ provisioner_tool }}. </h1>
		<h1>Managed by {{ automation_tool }}.</h1>
	</body>
</html>
